@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #c2c1c0;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #c2c1c0 40px ), repeating-linear-gradient( #5f2f0355, #5f2f03 );
    background-size: 250vh 250vh;
    display: flex;
    min-height: 100vh ;
}

.form{
    background: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4em 3em;
    /*launidademhacereferenciaaltamañoenpuntosdelaletraqueseestáutilizando.Siseutilizaunatipografíade12puntos,1emequivalea12puntos*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 10px 10px -5px rgb(0, 0, 0 / 30%);
    text-align: center;
}


.form-paragraph{
    font-weight:400 ;
}

.form-link{
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.form-container{
    margin-top: 2.5em;
    display: grid;
    gap: 2.5em;
    /*Es el ancho del canal que separa las columnas de la grilla.*/
}
.form-group{
    position: relative;
    --color: #705353;
}

.form-input{
    width: 100%;
    background: none;
    color: #555454;
    font-size: 1rem;
    padding: .6em ;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;

}



.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top:0;
    left: 1rem;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: transform .5s, var(--color) .3s;
    -webkit-transition: transform .5s, var(--color) .3s;
    -moz-transition: transform .5s, var(--color) .3s;
    -ms-transition: transform .5s, var(--color) .3s;
    -o-transition: transform .5s, var(--color) .3s;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-15px) scale(.7);
    transform-origin: left top;
    color: #5f2f03; 
}

.form-submit{
    background: #d3a171a9;
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border-radius: .5em5;
    -webkit-border-radius: .5em5;
    -moz-border-radius: .5em5;
    -ms-border-radius: .5em5;
    -o-border-radius: .5em5;
    border: none;
}


