
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9 ), rgba(0, 0, 0, 0.9)), url('imgs/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.icon{
    filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(110%) contrast(103%);
}

.logo__icon{
    width: 80px;
    cursor: pointer;
    margin-top:20px;
    margin-left: 0;
    rotate: 60g;
}

.menu__icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
    margin-bottom: px;
}

  h1{
    color: #fff;
    font-size: 80px;
  }

  p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
  }

  button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;   
    outline: none;
    margin-top: 30px; 
  }

  button:hover{
    background: yellow;
  }

  .card{
    width: 200px ;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position:center ;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(imgs/41ZxiLqvfzL._AC_.jpg);
   
  }

  .card2{
    background-image: url(imgs/alien.jpg);
  }

  .card3{
    background-image: url(imgs/Interstellar-242418919-large.jpg);
  }

  .card4{
    background-image: url(imgs/bateria.jpg);
  }

  .card:hover{
    transform: translateY(-10px);
   opacity: .10;
  }

  h5{
    opacity: 0;
  }

  .card:hover h5{
    color: #fff;
    opacity: 1;
    font-size: 20px;
}

.txt{
    opacity: 0;
  }

  .card:hover p{
    color: #ffffff;
    opacity: 1;
    font-size: 15px;
}


